<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--Data Source=(local);Initial Catalog=xyzhuajitbsys;Integrated Security=True  defaultUrl="Index.aspx"-->
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Data Source=(local);Initial Catalog=D:\学习文档\PHONESYS6\PHONESYS\APP_DATA\PHONESYS.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PHONESYSConnectionString" connectionString="Data Source=(local);Initial Catalog=D:\学习文档\PHONESYS6\PHONESYS\APP_DATA\PHONESYS.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices" connectionString="Data Source=(local);Initial Catalog=db_phoneSys;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PHONESYSConnectionString" connectionString="Data Source=(local);Initial Catalog=db_phoneSys;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Public/Index.aspx"  timeout="2880" />
    </authentication>

    <siteMap defaultProvider="webSiteMap">
      <providers>
        <add name="webSiteMap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="~/Web.sitemap"/>
      </providers>
    </siteMap>


    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true"
             requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider"
         connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/"
          name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
