#rt{height:280px;width:950px;}
#rt1{height:278px;width:208px;border-right:1px solid #b22222;border-top:1px solid #b22222;border-left:1px solid #b22222;border-bottom:1px solid #b22222;float:left;}
#imgBig{height:210px;width:110px;margin-left:45px;border:2px solid #eee;text-align:center;}
#rt2{height:268px;width:728px;float:left;padding:5px;border-bottom:1px solid #b22222;border-right:1px solid #b22222;border-top:1px solid #b22222;}



/*imgBig-start*/
.imgbox{position:relative;}
.probox{width:110px; height:210px;}
.probox  img{width:110px; height:210px;vertical-align:top;}
.showbox{display:none;position:absolute;left:115px;top:0;width:210px;height:210px;overflow:hidden;border:1px solid #ccc;background:#fff;}
.showbox img{position:absolute;height:630px;width:330px;}
.hoverbox{display:none;position:absolute;top:0;left:150px;background:#09f;border:1px solid #09f;height:75px;width:70px;cursor:move;z-index:10;}
/*imgBig-end*/
